<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>

		<style>
			body {
				margin: 0;
				height: 100%;
			}

			* {
				box-sizing: border-box;
			}

			ul {
				margin: 0;
				padding: 0;
			}

			ul li {
				cursor: pointer;
				position: relative;
				padding: 12px 8px 12px 40px;
				list-style-type: none;
				background: #eee;
				font-size: 18px;
				transition: 0.2s;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			ul li:nth-child(odd) {
				background: #f9f9f9;
			}

			ul li:hover {
				background: #ddd;
			}

			.remove {
				position: absolute;
				right: 0;
				top: 0;
				padding: 12px 16px 12px 16px;
			}

			.remove:hover {
				background-color: #f44336;
				color: white;
			}

			.header {
				background-color: #f44336;
				padding: 30px 40px;
				color: white;
				text-align: center;
			}

			.header:after {
				content: "";
				display: table;
				clear: both;
			}

			input {
				margin: 0;
				border: none;
				border-radius: 0;
				width: 75%;
				padding: 10px;
				float: left;
				font-size: 16px;
			}

			.addBtn {
				padding: 10px;
				width: 25%;
				background: #d9d9d9;
				color: #555;
				float: left;
				text-align: center;
				font-size: 16px;
				cursor: pointer;
				transition: 0.3s;
				border-radius: 0;
			}

			.addBtn:hover {
				background-color: #bbb;
			}

			.flex-container {
				display: flex;
				justify-content: end;
			}

			.sticky-bottom {
				width: 100%;
				position: fixed;
				bottom: 0;
				background-color: #899fff;
				padding: 1em;
			}

			.navigation-button {
				width: -moz-fit-content;
				width: fit-content;
				padding: 10px;
				background: #d9d9d9;
				text-decoration: none;
				color: #555;
				cursor: pointer;
			}

			.navigation-button:hover {
				background-color: #bbb;
			}
		</style>
	</head>
	<body>
		<div>
			<ul id="myUL">
			</ul>
		</div>

		<script>
			window.addEventListener('load', () => {
				const urlSearchParams = new URLSearchParams(window.location.search);
				const params = Object.fromEntries(urlSearchParams.entries());

				let todos
				try {
					todos = JSON.parse(params.data);
				}
				catch (err) {
					alert('failed to parse todos.');
					console.error('failed to parse todos:', err);
					return;
				}

				try {
					const ul = document.getElementById("myUL");
					todos.forEach(todo => {
						const li = document.createElement("li");
						li.dataset.todoId = todo.id;
						li.appendChild(document.createTextNode(todo.title));
						ul.appendChild(li);
					});
				}
				catch (err) {
					alert('error: invalid todo data.');
					console.error('error: invalid todo data', err)
					return;
				}

				//uses EJS syntax to pass in the verified variable, EJS syntax can't be added directly to JS, thats why it is inside a string
				alert('<%= verified %>' == 'true' ? "ToDo's passed verification!" : "ToDo's have NOT passed verification...");
			});
		</script>
	</body>
</html>
